{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main class="change--container">
        <a href="{% url 'edit_profile' %}" class="icon">
        <i class="fa-solid fa-arrow-left icon_back"></i>
        </a>
        <h2>Cambio de contraseña</h2>
        {#{ form }#}
        <form method="post">
            {% csrf_token %}
            <label for="{{ form.old_password.id_for_label }}">Contraseña antigua:</label>
            <input type="password" name="{{ form.old_password.html_name }}" autocomplete="current-password" autofocus required id="{{ form.old_password.id_for_label }}" placeholder="Contraseña antigua">

            <label for="id_new_password1">Contraseña nueva:</label>
            <input type="password" name="{{ form.new_password1.html_name }}" autocomplete="new-password" required id="{{ form.new_password1.id_for_label }}" placeholder="Contraseña nueva">

            <br>
            <span class="helptext"><ul><li>Su contraseña no puede asemejarse tanto a su otra información personal.</li><li>Su contraseña debe contener al menos 8 caracteres.</li><li>Su contraseña no puede ser una clave utilizada comúnmente.</li><li>Su contraseña no puede ser completamente numérica.</li></ul></span>

            <label for="id_new_password2">Contraseña nueva (confirmación):</label>
            <input type="password" name="{{ form.new_password2.html_name }}" autocomplete="new-password" required id="{{ form.new_password2.html_name }}" placeholder="Contraseña nueva (confirmación)">
            <input type="submit" class="button" value="Cambiar contraseña">
        </form>
    </main>
</body>
</html>