{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Medicina</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main class="login_main">
        <img src="{% static 'images/InicioLogo.png' %}" alt="Inicio" width="300px" class="index_logo">
        <h1>Medicina Nacional</h1>
        <form method="post" class="login_form">
            {% csrf_token %}
            {#{ login.as_p }#}

            <input type="text" id="{{ login.username.id_for_label }}" name="username" placeholder="Cédula" maxlength="150" autocapitalize="none" autofocus required autocomplete="username">

            <input type="password" id="{{ login.password.id_for_label }}" name="password" placeholder="Contraseña" required autocomplete="current-password">

            <p class="error">{{ error }}</p>
            <div class="login--buttons">
                <input type="submit" value="Iniciar Sesión" class="button">
                <a href="{% url 'reset_password' %}">Recuperar Contraseña</a>
            </div>
        </form>
    </main>
    <footer>
        <p>Todos los derechos reservados ©</p><br>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>
    </footer>
</body>
</html>